html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-size: $fontSize-base;
}
.fullScreen {
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-color: $black;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.homepageConfiguration {
    @include display_flex;
    padding: 7% 5%;
}
.homepageConfiguration_main {
    @include display_flex;
}
.homepageConfiguration_other {
    position: absolute;
    bottom: 5%;
    margin-left: 12%;
    &--color {
        color: $white;
    }
    > .homepageConfiguration_other_btn {
        &--style {
            background-color: transparent;
            color: $white;
            border: none;
            outline: 0;
        }
    }
}
.homepageConfiguration_main_head {
    @include display_inline-flex;
    align-content: space-between;
    height: 100%;
    > .homepageConfiguration_main_head_title {
        color: $white;
        > span:nth-child(1) {
            opacity: 1;
            line-height: fontSize(48px);
        }
        > span {
            @include display_flex;
            opacity: 0.8;
            line-height: fontSize(32px);
        }
    }
}
.homepageConfiguration_main_context {
    @include display_inline-flex;
    > .homepageConfiguration_main_context_thumbnail {
        width: 100%;
        height: 100%;
        > .thumbnail {
            display: inline-flex;
            flex-wrap: wrap;
            position: relative;
            padding-bottom: 32%;
            background-repeat: no-repeat;
            align-items: center;
            overflow: hidden;
            cursor: pointer;
            background-size: cover;
            background-position: center 80%;
            margin-bottom: -1%;
            &:hover {
                transition: all .3s;
                >span {
                    opacity: 0.6;
                }
            }
            > span {
                display: flex;
                flex-wrap: wrap;
                transition: all .3s;
                position: absolute;
                background-color: $primary;
                color: $white;
                width: 100%;
                left: 0;
                top: 0;
                padding-bottom: 100%;
                opacity: 0;
                justify-content: center;
                align-items: center;
                font-size: fontSize(26px);
            }
        }
    }
}
