.orderGrid {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    &--style {
        background-color: rgba(255, 255, 255, 0.5);
    }
}
.orderGrid_orderBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    border: 1px solid $primary;
    background-color: $white;
    > section {
        @include display_inline-flex;
    }
    > .orderGrid_orderBox_form {
        padding: 5%;
        &--style {
            background-color: $primary;
            color: $white;
        }
    }
    > .orderGrid_orderBox_roomData {
        background-color: $white;
        padding: 0 2.5rem;
    }
}
.orderGrid_orderBox_form_content {
    width: 100%;
    > label, span, div, button, p, input {
        width: 100%;
        @include display_flex;
    }
    > .labelTitle {
        font-size: fontSize(14px);
        line-height: fontSize(20px);
    }
    > .labelInput {
        font-size: fontSize(22px);
        line-height: fontSize(44px);
        margin-bottom: 1rem;
    }
    > .form_dayAndNight {
        color: $other;
        font-size: fontSize(14px);
        line-height: fontSize(20px);
        border-bottom: 1px solid $other;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    > .form_total {
        > .form_total_text {
            @include display_flex;
            justify-content: flex-end;
            font-size: fontSize(14px);
            line-height: fontSize(20px);
        }
        > .form_total_price {
            @include display_flex;
            justify-content: flex-end;
            font-size: fontSize(36px);
            line-height: fontSize(72px);
            margin-bottom: 1rem;
        }
    }
    > .form_submit {
        border: 1px solid $other;
        background-color: $primary;
        color: $white;
        font-size: fontSize(18px);
        line-height: fontSize(27px);
        @include display_flex;
        justify-content: center;
        padding: 0.5rem 0;
        font-weight: bold;
        &:hover {
            background-color: $other;
        }
    }
    > .form_remakes {
        font-size: fontSize(12px);
        @include display_flex;
        justify-content: center;
        margin-top: 3rem;
    }
}
.orderBox_cancel {
    position: relative;
    width: 100%;
    text-align: right;
    top: -2rem;
    right: 2rem;
    color: $primary;
    border: none;
    background-color: transparent;
    font-size: fontSize(16px);
    font-weight: bold;
    > svg {
        cursor: pointer;
    }
}
.orderBox {
    border-top: 1px solid #ddd;
    width: 90%;
    padding-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin-bottom: 1rem;
}
.orderBox_head {
    > h3 {
        font-size: fontSize(33px);
        line-height: fontSize(66px);
        font-weight: bold;
        position: absolute;
        top: -13%;
        background-color: $white;
    }
}
.orderBox_content {
    > h3 {
        font-size: fontSize(24px);
        line-height: fontSize(48px);
        font-weight: bold;
        position: absolute;
        top: -15.5%;
        background-color: $white;
    }
    &--style {
        margin-bottom: 1rem;
        > span {
            @include display_flex;
            font-weight: bold;
            line-height: fontSize(26px);
        }
        
    }
}
.orderBox_icons {
    margin-bottom: 2rem;
    @include display_inline-flex;
}
.orderBox_process {
    > h3 {
        font-size: fontSize(24px);
        line-height: fontSize(48px);
        font-weight: bold;
        position: absolute;
        top: -11.5%;
        background-color: $white;
    }
    > .orderBox_process_box {
        @include display_inline-flex;
        width: 100%;
        align-items: stretch;
        > .process_box {
            @include display_inline-flex;
            flex-grow: 1;
            > .process_box_icon {
                background-color: $other;
                padding: 0.5rem 0;
                width: 100%;
                @include display_flex;
                justify-content: center;
                margin-bottom: 0;
            }
            > .process_box_text {
                color: $primary;
                width: 100%;
                height: 60%;
                border: 1px solid $other;
                border-radius: 0 0 8px 8px;
                font-weight: bold;
                padding: 1rem 0;
            }
        }
        > .process_arrow {
            margin: 1rem 1rem 0;
        }
    }
}
.process_box_text {
    > span {
        @include display_flex;
        justify-content: center;
    }
}