.bookRoom {
    width: 100%;
    height: 100vh;
    padding: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    > .bookRoom_back {
        color: $primary;
        font-size: fontSize(14px);
        width: 100%;
        justify-content: flex-start;
    }
    > .bookRoom_booking {
        width: 60%;
        position: relative;
        text-align: center;
        margin: 0 auto;
        top: 70%;
    }
    > .bookRoom_list {
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: 80%;
        justify-content: center;
    }
    > .bookRoom_grid {
        @include display_flex;
        align-content: center;
    }
}
.bookRoom_booking_price {
    width: 100%;
    > .bookRoom_booking_price_money {
        font-size: fontSize(36px);
        color: $primary;
    }
    > .bookRoom_booking_price_night {
        font-size: fontSize(20px);
        color: $primary;
        &:before {
            content: '/';
            margin: 0 1rem;
        }
    }
}
.money {
    &:before {
        content: '$';
    }
}
.bookingBtn {
    padding: 3% 5%;
    color: $white;
    background-color: $primary;
}
.bookingBtn_now {
    border: none;
    font-size: fontSize(20px);
    width: 100%;
    position: relative;
}
.bookRoom_list_btn {
    border: none;
}
.bookRoom_list_btn--color {
    color: $primary;
    background-color: transparent;
}

.roomData {
    position: absolute;
    right: 0;
    color: $primary;
    padding: 1% 2%;
    > .roomData_title {
        font-size: fontSize(40px);
        display: inline-block;
        margin-bottom: 4rem;
    }
    > .roomData_subtitle {
        font-size: fontSize(14px);
        font-weight: bolder;
        position: relative;
        left: 35%;
    }
    > .roomData_content {
        font-size: fontSize(14px);
        line-height: fontSize(24px);
        font-weight: 500;
        margin-bottom: 3.5rem;
    }
    > .roomData_precaution {
        @include display_inline-flex;
        align-content: center;
    }
}
.roomData_precaution_box {
    margin-right: 5rem;
    margin-bottom: 3rem;
    position: relative;
    > .roomData_precaution_box_yes {
        position: absolute;
    }
    > .roomData_precaution_box_text {
        position: absolute;
        font-size: fontSize(12px);
        left: 20%;
        top: 110%;
    }
}
.rooomData_monthly_title {
    font-size: fontSize(14px);
    font-weight: bolder;
}